<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.cultural.mapper.order.AddressMapper">
    
	<sql id="addressColumns">
		a.id AS "id",
		a.name AS "name",
		a.phonenum AS "phonenum",
		a.district AS "district",
		a.customer_id AS "customer.id",
		a.details AS "details",
		a.is_default AS "isDefault",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
				
				
				
				
		customer.nickname AS "customer.nickname"
	</sql>
	
	<sql id="addressJoins">
		
		LEFT JOIN cultural_customer customer ON customer.id = a.customer_id
	</sql>
	
    
	<select id="get" resultType="Address" >
		SELECT 
			<include refid="addressColumns"/>
		FROM cultural_address a
		<include refid="addressJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Address" >
		SELECT 
			<include refid="addressColumns"/>
		FROM cultural_address a
		<include refid="addressJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="name != null and name != ''">
				AND a.name LIKE 
					<if test="dbName == 'oracle'">'%'||#{name}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{name}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{name},'%')</if>
			</if>
			<if test="phonenum != null and phonenum != ''">
				AND a.phonenum LIKE 
					<if test="dbName == 'oracle'">'%'||#{phonenum}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{phonenum}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{phonenum},'%')</if>
			</if>
			<if test="customer != null and customer.id != null and customer.id != ''">
				AND a.customer_id LIKE 
					<if test="dbName == 'oracle'">'%'||#{customer.id}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{customer.id}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{customer.id},'%')</if>
			</if>
			<if test="isDefault != null and isDefault != ''">
				AND a.is_default = #{isDefault}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Address" >
		SELECT 
			<include refid="addressColumns"/>
		FROM cultural_address a
		<include refid="addressJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO cultural_address(
			id,
			name,
			phonenum,
			district,
			customer_id,
			details,
			is_default,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{name},
			#{phonenum},
			#{district},
			#{customer.id},
			#{details},
			#{isDefault},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE cultural_address SET 	
			name = #{name},
			phonenum = #{phonenum},
			district = #{district},
			customer_id = #{customer.id},
			details = #{details},
			is_default = #{isDefault},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM cultural_address
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE cultural_address SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Address" statementType="STATEMENT">
		select * FROM cultural_address  where ${propertyName} = '${value}'
	</select>


	<select id="getListByCustomerId" resultType="Address">
		SELECT
		<include refid="addressColumns"/>
		FROM cultural_address a
		<include refid="addressJoins"/>
		WHERE customer.id = #{customerId}
	</select>
</mapper>