<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.cultural.mapper.order.CoupletsPriceMapper">
    
	<sql id="coupletsPriceColumns">
		a.id AS "id",
		a.type AS "type",
		a.size_id AS "size.id",
		a.combo_id AS "combo.id",
		a.size_name AS "sizeName",
		a.combo_name AS "comboName",
		a.price AS "price",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
				
				
		size.name AS "size.name",
				
		combo.name AS "combo.name"
	</sql>
	
	<sql id="coupletsPriceJoins">
		
		LEFT JOIN cultural_size size ON size.id = a.size_id
		LEFT JOIN cultural_combo combo ON combo.id = a.combo_id
	</sql>
	
    
	<select id="get" resultType="CoupletsPrice" >
		SELECT 
			<include refid="coupletsPriceColumns"/>
		FROM cultural_couplets_price a
		<include refid="coupletsPriceJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="CoupletsPrice" >
		SELECT 
			<include refid="coupletsPriceColumns"/>
		FROM cultural_couplets_price a
		<include refid="coupletsPriceJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="type != null and type != ''">
				AND a.type = #{type}
			</if>
			<if test="size != null and size.id != null and size.id != ''">
				AND a.size_id = #{size.id}
			</if>
			<if test="combo != null and combo.id != null and combo.id != ''">
				AND a.combo_id = #{combo.id}
			</if>
			<if test="price != null and price != ''">
				AND a.price = #{price}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="CoupletsPrice" >
		SELECT 
			<include refid="coupletsPriceColumns"/>
		FROM cultural_couplets_price a
		<include refid="coupletsPriceJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO cultural_couplets_price(
			id,
			type,
			size_id,
			combo_id,
			size_name,
			combo_name,
			price,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{type},
			#{size.id},
			#{combo.id},
			#{sizeName},
			#{comboName},
			#{price},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE cultural_couplets_price SET 	
			type = #{type},
			size_id = #{size.id},
			combo_id = #{combo.id},
			size_name = #{sizeName},
			combo_name = #{comboName},
			price = #{price},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM cultural_couplets_price
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE cultural_couplets_price SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="CoupletsPrice" statementType="STATEMENT">
		select * FROM cultural_couplets_price  where ${propertyName} = '${value}'
	</select>
	
</mapper>