/*楹联成品库*/
.couplet{}
.coup-tab{
	background: #fff;
	margin-top: .07rem;
}
.coup-tab ul li{
	display: inline-block;
	height: .45rem;
	line-height: .45rem;
	font-size: .16rem;
	width: 32%;
	border-bottom: .02rem solid transparent;
}
.coup-tab ul li.on{
	border-bottom: .02rem solid #ffb54a;
}
.couplet .cou-ul{
	padding:2.3%;
}
.couplet .cou-ul ul li{
	display: inline-block;
	width: 48.57%;
	margin-bottom: .08rem;
	background: #fff;
}
.couplet .cou-ul ul li:nth-child(2n){
	margin-left: .04rem;
}
.couplet .cou-ul .cou-img{
	width: 100%;
}
.couplet .cou-ul .cou-txt{
	padding: .05rem .04rem;
}
.couplet .cou-ul .cou-txt p{
	font-size: .15rem;
	margin: 8% 0;
}
.couplet .cou-ul .cou-txt .cou-a{
	text-align: left;
}
.couplet .cou-ul .cou-txt .cou-a span{
	display: inline-block;
	font-size: .12rem;
	color: #d90f13;
	padding: 2% 0;
}
.couplet .cou-ul .cou-txt .cou-a a{
	width: 44%;
	height: .25rem;
	line-height: .25rem;
	color: #fff;
    font-size: .12rem;
    background: #f00;
    display: inline-block;
    text-align: center;
    border-radius: .05rem;
    float: right;
}
/*楹联成品库--商品详情*/
.couplet-more,.thesaurus-more{
	position: relative;
}
.coupm-up .coupm-tit{
	width: 100%;
	background: #fff;
}
.coupm-up .coupm-tit .coupm-txt{
	padding: .06rem .12rem .08rem;
}
.coupm-up .coupm-tit h3{
	text-align: left;
	font-size: .14rem;
	line-height: .2rem;
}
.coupm-tit .coupm-txt p{
	text-align: left;
	color: #e80000;
	font-size: .14rem;
	margin-top: .08rem;
	height: .24rem;
}
.coupm-tit .coupm-txt span{
	border: .014rem solid #f00;
	padding: 0 2%;
	border-radius: .05rem;
	color: #f90101;
	font-size: .14rem;
	float: right;
}
.coupm-tit .more{
	margin-bottom: .05rem;
}
.coupm-up .coupm-speci{
	background: #fff;
	width: 100%;
	height: .45rem;
	line-height: .45rem;
	padding: 0 .12rem;
	text-align: left;
	margin: .05rem 0;
}
.coupm-up .coupm-speci p{
	width: 100%;
	font-size: .14rem;
}
.coupm-up .coupm-speci i{
	display: inline-block;
	width: 3%;
	float: right;
}
.coupm-up .coupm-eva{
	background: #fff;
	width: 100%;
	padding: .14rem .12rem;
}
.coupm-eva .c-eva-tit{
	text-align: left;
}
.coupm-eva .c-eva-tit p{
	font-size: .14rem;
	display: inline-block;
}
.coupm-eva .c-eva-tit a{
	color: #ffaa25;
	font-size: .12rem;
	float: right;
}
.coupm-eva .c-eva-tit a i{
	display: inline-block;
	width: 12%;
	margin-left: .05rem;
	vertical-align: text-bottom;
}
.coupm-eva .c-eva{}
.coupm-eva .c-eva .c-eva-div{
	text-align: left;
	width: 100%;
	margin: .11rem 0;
}
.c-eva-div .c-eva-img{
	width: .45rem;
	height: .45rem;
	display: inline-block;
	vertical-align: text-bottom;
	border-radius: 50%;
	overflow: hidden;
}
.c-eva-div .c-eva-txt{
	display: inline-block;
	vertical-align: text-bottom;
	margin-left: .04rem;
	width: 81%;
}
.c-eva-div .c-eva-txt h3{
	font-size: .12rem;
}
.c-eva-div .c-eva-txt p{
	color: #6c6c6c;
	font-size: .1rem;
}
.coupm-eva .c-eva .c-eva-p{
	text-align: left;
}
.coupm-eva .c-eva .c-eva-p p{
	font-size: .1rem;
}
.coupm-low .coupletm-tit{
	width: 100%;
	height: .5rem;
	line-height: .5rem;
	background: #fff;
	margin: .1rem 0;
}
.coupm-low .coupletm-tit span{
	display: inline-block;
	vertical-align: middle;
	width: .43rem;
	height: .01rem;
	background: #b5b5b5;
}
.coupm-low .coupletm-tit h1{
	display: inline-block;
	vertical-align: middle;
	color: #565656;
	font-size: .17rem;
	margin: 0 .16rem;
}
.coupm-low .coupm-intr{
	background: #fff url(../images/coup-bg1.png) no-repeat right;
	background-size: 45%;
	background-position-y: .51rem;
	width: 100%;
	padding: 5% 0 10%;
}
.coupm-intr .c-intr-tit{
	width: 1.42rem;
	height: .38rem;
	line-height: .38rem;
	margin: 0 auto;
	font-size: .14rem;
	color: #fff;
	background: url(../images/coup-tit.png) no-repeat center;
	background-size: 100%;
}
.coupm-intr .c-decor-p{
	padding: 0 3%;
	text-align: left;
	margin-top: .15rem;
}
.coupm-intr .c-decor-p p{
	color: #464646;
    font-size: .12rem;
    line-height: .25rem;
}
.coupm-intr .c-book-p{
	padding: 0 3%;
	text-align: left;
	margin-top: .15rem;
}
.coupm-intr .c-book-p h3{
	font-size: .15rem;
	margin-right: .45rem;
	text-align: right;
	margin-bottom: .08rem;
}
.coupm-intr .c-book-p p{
	color: #464646;
    font-size: .12rem;
    line-height: .22rem;
}

.coupm-intr .c-intr-txt{
	text-align: left;
	padding-left: .27rem;
}
.coupm-intr .c-intr-txt .c-intr-let{
	color: #464646;
	font-size: .12rem;
	margin-bottom: .25rem;
	margin-top: .3rem;
}
.coupm-intr .c-intr-txt .c-intr-let span{
	display: inline-block;
	margin-right: .18rem;
}
.coupm-intr .c-intr-txt .c-intr-let p.c-intr-let-p{margin-left: 0;}
.coupm-intr .c-intr-txt .c-intr-let p{
	margin-left: .42rem;
	line-height: .22rem;
}
.coupm-intr .c-intr-txt .c-intr-p p{
	color: #464646;
	font-size: .12rem;
	line-height: .25rem;
}
.coupm-low{
	margin-bottom: 29%;
}	
.coupm-low .c-intr-ul{
	width: 100%;
}
.coupm-low .c-intr-ul ul li{
	width: 100%;
	margin-top: .09rem;
	background: #fff;	
	text-align: left;
	display: table;
}
.coupm-low .c-intr-ul .c-intr-one{
	padding: .2rem .12rem;
}
.coupm-low .c-intr-ul .c-intr-one .c-intr-ul-img{
	display: table-cell;
	vertical-align: top;
	width: 46%;
	height: 1.94rem;
}
.coupm-low .c-intr-ul .c-intr-one .c-intr-ul-txt{
	display: table-cell;
	vertical-align: top;
	width: 45%;
	padding-left: .15rem;
}
.coupm-low .c-intr-ul .c-intr-ul-txt h3{
	color: #464646;
	font-size: .12rem;
	margin-top: .12rem;
	margin-bottom: .11rem;
}
.coupm-low .c-intr-ul .c-intr-ul-txt p{
	color: #464646;
	font-size: .11rem;
	line-height: .2rem;
}
.coupm-low .c-intr-ul .c-intr-two{
	padding: .11rem .12rem .07rem .12rem;
}
.coupm-low .c-intr-ul .c-intr-two .c-intr-ul-img{
	display: table-cell;
	vertical-align: top;
	width: 46%;
	height: 2rem;
}
.coupm-low .c-intr-ul .c-intr-two .c-intr-ul-txt{
	display: table-cell;
	vertical-align: top;
	width: 45%;
	padding-right: .15rem;
}
.coupm-low .coupm-foot{
	width: 100%;
	background: #fff;
	margin-top: .1rem;
}
.coupm-low .coupm-decor{
	width: 100%;
	background: #eee;
	margin-top: .1rem;
}
.coupm-decor .c-foot-img{margin-top: .05rem;}
.coupm-low .coupm-foot .c-foot-img{
	width: 100%;
}
.coupm-low .coupm-a{
	width: 100%;
	height: .45rem;
	line-height: .45rem;
	background: #f00;
	position: fixed;
	bottom: 0;
}
.coupm-low .coupm-a a{
	font-size: .15rem;
	color: #fff;
}
.coupletm-norm-bg{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	display: none;
}
.coupletm-norm-bg .coupletm-blank{
	width: 100%;
	height: 20%;
}
.coupletm-norm-bg .coupletm-norm{
	position: absolute;
	bottom: 0;
	top: 20%;
	background: #fff;
	width: 100%;
}
.coupletm-norm .norm-up{
	width: 100%;
	height: .75rem;
	padding: .2rem .26rem 0 1.6rem;
	text-align: left;
	position: relative;
}
.norm-up .norm-up-img{
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 5%;
	background: #fff;
	position: absolute;
	top: -62%;
	left: 6%;
}
.norm-up .norm-price p{
	color: #f00000;
	font-size: .14rem;
	font-weight: bold;
}
.coupletm-norm .norm-down{
	width: 100%;
	position: absolute;
	top: .75rem;
	bottom: 7.5%;
	overflow: auto;
}
.coupletm-norm .norm-down ul.norm-down-ul{
	width: 100%;
	padding: 0 6%;
}
.coupletm-norm .norm-down ul li h3{
	font-size: .14rem;
	text-align: left;
	margin: .27rem 0 .15rem 0;
}
.coupletm-norm .norm-down ul li p{
	color: #444;
	font-size: .12rem;
	background: #e5e5e5;
	border-radius: .05rem;
	height: .31rem;
	line-height: .31rem;
	display: inline-block;
}
.norm-down .norm-size{padding: 0 2%;}
.norm-down .norm-size p{
	width: 32%;
	margin-top: .14rem;	
	margin-right: 1.3%;
}
.norm-down ul li p.checked{
	background: #f00;
	color: #fff;
}
.norm-down .norm-patent p{
	margin-top: .14rem;
	width: 32%;
	margin-right: 1.3%;
}
.norm-down .norm-crafts p{
	margin-top: .14rem;
	width: 100%;
}
/*.norm-down .norm-crafts p:nth-child(3){width: 49%;}
.norm-down .norm-crafts p:nth-child(4){width: 49%;}*/

.norm-down .norm-down-quantity{
	width: 100%;
	padding: 0 6%;
	text-align: left;
	margin: .3rem 0;
}
.norm-down-quantity .norm-q-label{
	display: inline-block;
}
.norm-down-quantity .norm-q-label label{
	color: #444;
	font-size: .14rem;
}
.norm-down-quantity .norm-q-btn{
	display: inline-block;
	text-align: center;
	float: right;
	color: #444;
	font-size: .14rem;
}
.norm-down-quantity .norm-q-btn input[type=button]{
	width: .3rem;
	height: .2rem;
	line-height: .1rem;
	background: #d2d2d2;
	border: .01rem solid #d2d2d2;
	font-size: .18rem;
}
.norm-down-quantity .norm-q-btn input[type=number]{
	width: .44rem;
	height: .2rem;
	line-height: .2rem;
	text-align: center;
	border: .01rem solid transparent;
	padding-left: 0;
}
.norm-buy{
	width: 100%;
	height: .4rem;
	line-height: .4rem;
	position: absolute;
	bottom: 0;
}
.norm-buy .n-buy-price{
	float: left;
	width: 50%;
	background: #e5e5e5;
	color: #f00;
	font-size: .14rem;
}
.norm-buy a.n-buy-confirm{
	float: left;
	width: 50%;
	background: #ff0000;
	color: #fff;
	font-size: .15rem;
}
/*楹联词库*/
.thesaurus{
	padding: .08rem;
}
.thesaurus .thesaurus-ul{
	margin-bottom: 30%;
}
.thesaurus .thesaurus-ul ul li{
	width: 48.5%;
	display: inline-block;
	background: #fff;
	margin-bottom: .1rem;
}
.thesaurus .thesaurus-ul ul li:nth-child(2n){
	margin-left: .04rem;
}
.thesaurus .thesaurus-ul .thesaurus-img{width: 100%;}
.thesaurus .thesaurus-ul .thesaurus-btn{
	margin: .12rem 0 .08rem;
}
.thesaurus .thesaurus-ul .thesaurus-btn a{
	width: .78rem;
	height: .25rem;	
	line-height: .25rem;
	background: #f00;
	border-radius: .05rem;
	color: #fefefe;
	font-size: .14rem;
}
/*-楹联词库（书法家详情)*/
.calligrapher-up{
	background: #fff;
	padding: .1rem .08rem;
	text-align: left;
	margin-bottom: .09rem;
}
.calligrapher-up .calli-img{
	display: inline-block;
	vertical-align: top;
	width: .83rem;
	height: .83rem;
}
.calligrapher-up .calli-txt{
	display: inline-block;
	vertical-align: top;
	width: 71%;
}
.calligrapher-up .calli-txt span{
	font-size: .12rem;
	font-weight: bold;
}
.calligrapher-up .calli-txt p{
	font-size: .12rem;
}
.calligrapher-down .grap-tit{
	width: 100%;
	height: .41rem;
	line-height: .41rem;
	background: #fff;
	text-align: left;
	padding: 0 .08rem;
}
.calligrapher-down .grap-tit i{
	display: inline-block;
	width: .58rem;
}
.calligrapher-down .grap-tit h3{
	display: inline-block;
	font-size: .15rem;
	margin-left: .05rem;
}
.calligrapher-down .grap-img{
	width: 100%;
}
.calligrapher-down .grap-img img:first-child{
	margin-bottom: .08
	rem;
}
/*楹联词库(商品详情)*/
.thesam-up .thesam-tit{
	width: 100%;
	background: #fff;
}
.thesam-up .thesam-div{
	margin: .1rem 0;
}
.thesam-up .thesam-div div{
	background: #fff;
	width: 100%;
	height: .45rem;
	line-height: .45rem;
	padding: 0 .12rem;
	text-align: left;
}
.thesam-up .thesam-div p{
	width: 43%;
	font-size: .14rem;
	display: inline-block;
	vertical-align: top;
}
.thesam-up .thesam-div span{
	display: inline-block;
	width: 49%;
	font-size: .14rem;
	vertical-align: top;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.thesam-up .thesam-div i{
	display: inline-block;
	vertical-align: top;
	width: 3%;
	float: right;
}
.thesam-up .thesam-div .thesam-font,
.thesam-up .thesam-div .thesam-production{
	width: 100%;
}
.thesam-up .thesam-div .thesam-size,
.thesam-up .thesam-div .thesam-patent
{
	margin: .06rem 0;
	width: 100%;
}
.thesam-intr-txt{
	padding: 0 .12rem;
	margin-top: .4rem;
	margin-bottom: .93rem;
}
.thesam-intr-txt p{
	color: #656565;
	font-size: .15rem;
	line-height: .2rem;
}
.thesam-low{
	padding-bottom: .95rem;
}
.thesam-low .thesaurm-tit{
	width: 100%;
	height: .5rem;
	line-height: .5rem;
	background: #fff;
	margin: .1rem 0;
}
.thesam-low .thesaurm-tit span{
	display: inline-block;
	vertical-align: middle;
	width: .43rem;
	height: .01rem;
	background: #b5b5b5;
}
.thesam-low .thesaurm-tit h1{
	display: inline-block;
	vertical-align: middle;
	color: #565656;
	font-size: .17rem;
	margin: 0 .16rem;
}
.thesam-low .thesaurm-intr{
	background: #fff url(../images/coup-bg1.png) no-repeat right;
	background-size: 45%;
	background-position-y: .51rem;
	width: 100%;
	overflow: hidden;
	padding-top: .14rem;
}
.thesaurm-intr .thesam-intr-tit{
	width: 1.42rem;
	height: .38rem;
	line-height: .38rem;
	margin: 0 auto;
	font-size: .15rem;
	color: #fff;
	background: url(../images/coup-tit.png) no-repeat center;
	background-size: 100%;
}
.thesam-low .thesam-a{
	width: 100%;
	height: .45rem;
	line-height: .45rem;
	background: #fff;
	position: fixed;
	bottom: 0;
}
.thesam-low .thesam-a a{
	width: 26%;
	font-size: .15rem;
	background: #f00;
	color: #fff;
	float: right;
}
.thesam-low .thesam-a label{
	display: inline-block;
    float: left;
    width: 42%;
}
.thesam-low .thesam-a label p{
	display: inline-block;
	margin: 0 .07rem;
}
.thesam-low .thesam-a label input[type=button]{
	width: 16%;
    height: .2rem;
    line-height: .1rem;
    background: #d2d2d2;
    border: .01rem solid #d2d2d2;
    font-size: .14rem;
}
.thesam-low .thesam-a label input[type=number]{
	width: 16%;
    height: .2rem;
    line-height: .2rem;
    text-align: center;
    border: .01rem solid transparent;
    padding-left: 0;
}
.thesam-low .thesam-a p.thesam-a-pri{
	display: inline-block;
    font-size: .14rem;
    color: #f00;
    width: 28%;
    text-align: center;
}
.thesarusm-norm-bg{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	display: none;
}
.thesarusm-norm-bg .thesarusm-size,
.thesarusm-norm-bg .thesarusm-production,
.thesarusm-norm-bg .thesarusm-patent,
.thesarusm-norm-bg .thesarusm-font{
	width: 100%;
	height: 100%;
}
.thesarusm-norm-bg .thesarusm-blank{
	width: 100%;
	height: 33%;
}
.thesarusm-norm-bg .thesarusm-patent .thesarusm-blank{
	width: 100%;
	height: 62%;
}
.thesarusm-norm-bg .thesarusm-patent .thesarusm-norm{
	position: absolute;
	bottom: 0;
	top: 62%;
}
.thesarusm-norm-bg .thesarusm-norm{
	position: absolute;
	bottom: 0;
	top: 33%;
	background: #fff;
	width: 100%;
}
.thesarusm-norm .thsm-up{
	width: 100%;
	height: .75rem;
	position: relative;
}
.thsm-up .thsm-up-img{
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 5%;
	background: #fff;
	position: absolute;
	top: -62%;
	left: 6%;
}
.thesarusm-norm .thsm-down{
	width: 100%;
    padding: 0 6%;
    overflow: auto;
    position: absolute;
    top: .75rem;
    bottom: 11%;
}
.thesarusm-norm .thsm-down .th-font{
	text-align: left;
}
.thesarusm-norm .thsm-down .th-font p{
	display: inline-block;
	width: 32%;
	margin-right: 1.3%;
	text-align: center;
}
.thsm-down .thsm-size,.thsm-down .thsm-production{
	margin-bottom: .15rem;
}
.thsm-down .thsm-see a{
	width: 1.66rem;
	height: .4rem;
	line-height: .4rem;
	background: #f00;
	color: #fff;
	font-size: .15rem;
	border-radius: .06rem;
	margin-top: .22rem;
	margin-bottom: .15rem;
}
.thsm-down h3{
	font-size: .14rem;
    text-align: left;
    margin-top: .15rem;
    font-weight: bold;
}
.thsm-down p{
	width: 32%;
    margin-top: .14rem;
	margin-right: 1.3%;
	color: #444;
    font-size: .12rem;
    background: #e5e5e5;
    border-radius: .05rem;
    height: .31rem;
    line-height: .31rem;
    display: inline-block;
}
.thsm-down p.checked{
	background: #f00;
    color: #fff;
}
/*.thsm-down .thsm-production p:nth-child(3),*/
.thsm-down .thsm-production p{width: 32%;display: inline-block;}
.thsm-down .thsm-patent p{
	display: inline-block;
	width: 100%;
}
.thsm-buy{
	width: 100%;
	height: .4rem;
	line-height: .4rem;
	position: absolute;
	bottom: 0;
}
.thsm-buy a{
	float: left;
	width: 100%;
	background: #ff0000;
	color: #fff;
	font-size: .15rem;
}
/*楹联词库（评价）*/
.evaluation .evaluation-div{
	width: 100%;
	background: #fff;
	text-align: left;
	margin-bottom: .06rem;
	padding: .08rem .12rem .12rem .12rem;
}
.evaluation-up .eva-tou .eva-tou-img{
	display: inline-block;
	vertical-align: text-bottom;
	width: .45rem;
	height: .45rem;
}
.evaluation-up .eva-tou .eva-tou-txt{
	display: inline-block;
	vertical-align: text-bottom;
	width: 83%;
}
.evaluation-up .eva-tou .eva-tou-txt h3{
	font-size: .12rem;
}
.evaluation-up .eva-tou .eva-tou-txt p{
	color: #6c6c6c;
	font-size: .1rem;
}
.evaluation-up .eva-p{
	margin: .08rem 0;
}
.evaluation-up .eva-p p{
	font-size: .1rem;
}
.evaluation-div .evaluation-ul ul li{
	display: inline-block;
	width: 32.2%;	
}
/*帮助中心*/
.help-center{
	background: #fff;
	padding: 0 .08rem;
}
.help-center .help-tit{
	text-align: left;
	margin: .16rem 0;
}
.help-center .help-tit h1{
	color: #393939;
	font-size: .17rem;
	line-height: .35rem;
}
.help-center .help-tit p{
	color: #8b8b8b;
	font-size: .12rem;
}
.help-center .help-content{
	margin-top: .3rem;
}
.help-content .help-user{
	width: 1.32rem;
	margin: 0 auto;
	padding-bottom: .08rem;
	border-bottom:.01rem solid #ff9813;
	margin-bottom: .16rem;
}
.help-content .help-user h3{
	color: #232323;
	font-size: .15rem;
}
.help-content .help-img{
	width: 63%;
	margin: 0 auto .2rem;
}
.help-content .help-txt{
	margin: .35rem 0;
}
.help-content .help-txt p{
	color: #282727;
	font-size: .12rem;
	text-align: left;
	line-height: .21rem;
}
/*个人中心*/
.person-center .person-up{
	background:#fff url(../images/per-bg.png) no-repeat center;
	background-size: 100% 100%;
	text-align: left;
	height: 1.5rem;
	padding-top: .3rem;
}

/*个人中心图片圆角*/
.person-up .perup-left .perup-tou img{
	border-radius:50%;
}
.person-up .perup-left{
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	margin-left: .15rem;
}
.person-up .perup-left .perup-tou{
	display: inline-block;
	vertical-align: bottom;
	width: .63rem;
	height: .63rem;
	margin-right: .07rem;
	background: #fff;
	border-radius: 50%;
}
.person-up .perup-left .perup-txt{
	display: inline-block;
	vertical-align: bottom;
}
.person-up .perup-left .perup-txt h3{
	color: #fff;
	font-size: .14rem;
}
.person-up .perup-left .perup-txt p{
	background: #fff;
	width: .75rem;
	height: .19rem;
	font-size: .11rem;
	border-radius: .1rem;
	margin-top: .08rem;
	padding-left: .18rem;
	position: relative;
}
.person-up .perup-left .perup-txt p i{
	width: .21rem;
	height: .18rem;
	display: inline-block;
	position: absolute;
	bottom: .06rem;
	left: -.02rem;
}
.person-up .perup-map{
	display: inline-block;
	vertical-align: middle;
	width: .915rem;
	height: .3rem;
	line-height: .3rem;
	background: #ff1b04;
	margin-top: .2rem;
	float: right;
	border-radius: .15rem 0rem 0rem .15rem;
}
.person-up .perup-map a{
	color: #fff;
	font-size: .12rem;
	display: block;
}
.person-up .perup-map i{
	width: .2rem;
	height: .2rem;
	line-height: .2rem;
	display: inline-block;
	vertical-align: text-bottom;
	margin-left: .08rem;
	margin-right: .06rem;
}
.person-middle .permi-order{
	background: #fff;
	margin-bottom: .06rem;
}
.permi-order .permi-my{
	text-align: left;
	padding: 0 .08rem;
	width: 100%;
	height: .4rem;
	line-height: .38rem;
	border-bottom: .01rem solid #bfbfbf;
}
.permi-order .permi-my p{
	display: inline-block;
	font-size: .14rem;
}
.permi-order .permi-my a{
	font-size: .13rem;
	color: #626262;
	float: right;
}
.permi-order .permi-my a i{
	display: inline-block;
	width: 10%;
	margin-left: .05rem;
}
.permi-order .permi-ul{
	width: 100%;
	height: .64rem;
	padding: .08rem 6% 0;
}
.permi-order .permi-ul ul li{
	display: inline-block;
	width: 13%;
	margin-right: 14%;
}
.permi-order .permi-ul ul li:last-child{margin-right: 0;}
.permi-order .permi-ul ul li span{
	font-size: .12rem;
}
.permi-order .permi-ul ul li i{
	display: inline-block;
	width: 65%;
}
.person-middle .permi-more{	
	text-align: left;	
}
.person-middle .permi-more a{
	width: 100%;
	height: .47rem;
	line-height: .47rem;
	font-size: .14rem;
	padding: 0 .13rem;
	margin-bottom: .02rem;
	background:#fff url(../images/coup-next.png) no-repeat right;
	background-size: 2.5% 36%;
	background-position-x: 96%;
}
.person-middle .permi-more i{
	width: 10%;
	margin-right: .1rem;
	display: inline-block;
}
.person-middle .permi-more i:nth-child(4){width: 10%;}
/*公告信息*/
.announcement ul li{
	background: #fff;
	text-align: left;
	margin-bottom: .05rem;
	padding: .11rem .1rem .11rem .14rem;
}
.announcement .anno-img{
	width: .45rem;
	height: .45rem;
	margin-right: .03rem;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.announcement .anno-img span{
	display: inline-block;
	width: .1rem;
	height: .1rem;
	background: #f00;
	border-radius: 50%;
	position: absolute;
	top: .01rem;
	left: .03rem;
}
.announcement .anno-txt{
	width: 82%;
	display: inline-block;
	vertical-align: middle;
}
.announcement .anno-txt h3{
	font-size: .15rem;
}
.announcement .anno-txt span{
	font-size: .11rem;
	color: #9f9e9e;
	float: right;
}
.announcement .anno-txt p{
	font-size: .12rem;
	color: #818181;
}
.announ-history{
	text-align: left;
	padding: 0 .12rem;
}
.announ-history .his-tit{
	margin: .14rem 0;
}
.announ-history .his-tit h3{
	font-size: .18rem;
}
.announ-history .his-tit p{
	font-size: .11rem;
	color: #6b6b6b;
	float: right;
}
.announ-history .his-txt p{
	color: #757575;
	font-size: .14rem;
	line-height: .23rem;
}
/*基本信息*/
.personal-base div.base-name,
.personal-base div.base-tou,
.personal-base div.base-phone
{
	width: 100%;
	padding: 0 .13rem;
	border-bottom: .01rem solid #bfbfbf;
	text-align: left;
}
.personal-base span.base-span{
	display: inline-block;
	font-size: .14rem;
}
.personal-base .base-name{
	height: .42rem;
	line-height: .42rem;
}
.personal-base .base-name p{
	display: inline-block;
	font-size: .14rem;	
	float: right;
}
.personal-base .base-tou{
	height: .7rem;
	line-height: .7rem;
}
.personal-base .base-tou .base-img{
	width: .6rem;
	height: .6rem;
	line-height: .6rem;
	display: inline-block;
	float: right;
	margin: .05rem 0;
	background: #fff;
	border-radius: 50%;
}
.personal-base .base-tou .base-img img{
	vertical-align: top;
	border-radius: 50%;
}
.personal-base .base-phone{
	height: .45rem;
	line-height: .45rem;
}
.personal-base .base-phone a{
	font-size: .14rem;
	color: #1ba6ff;
	float: right;
}
/*联系客服*/
.personal-call ul li{
	border-bottom: .01rem solid #bfbfbf;
	text-align: left;
	width: 100%;
	height: .44rem;
	line-height: .43rem;
	padding: 0 .13rem;
}
.personal-call ul li span{
	font-size: .14rem;
	display: inline-block;
}
.personal-call ul li span i{
	width: .3rem;
	height: .3rem;
	line-height: .3rem;
	display: inline-block;
}
.personal-call ul li p{
	font-size: .14rem;
	float: right;
}
.personal-call .call-txt{
	text-align: left;
	padding: 0 .13rem;
	margin-top: .22rem;
}
.personal-call .call-txt p{
	font-size: .16rem;
	margin-bottom: .08rem;
}
.personal-call .call-txt textarea{
	width: 82.58%;
	height: 1.25rem;
	margin-left: .21rem;
	border: .01rem solid #bfbfbf;
	background: #eee;
	padding: .08rem .07rem;
	margin-bottom: 1.08rem;
	font-family: "微软雅黑";
}
.personal-call .call-txt input[type=submit]{
	width: 85.99%;
	height: .44rem;
	line-height: .44rem;
	color: #fff;
	font-size: .16rem;
	background: #f00;
	border: .01rem solid #f00;
	border-radius: .05rem;
	margin-left: .26rem;
}
/*平台介绍*/
.personal-introduce{
	text-align: left;
	margin-top: .17rem;
}
.personal-introduce .intro-up{	
	padding: 0 .13rem;
}
.personal-introduce .intro-tit{
	width: 1.42rem;
	height: .38rem;
	line-height: .38rem;
	font-size: .15rem;
	color: #fff;
	text-align: center;
	margin: 0 auto;
	background: url(../images/coup-tit.png) no-repeat center;
	background-size: 100%;
}
.personal-introduce .intro-up .intup-txt{
	margin-top: .2rem;
}
.personal-introduce .intro-up .intup-txt p{
	color: #757575;
	font-size: .14rem;
	line-height: .23rem;
}
.personal-introduce  .intro-ul{
	margin-top: .36rem;
	margin-bottom: .7rem;
}
.personal-introduce  .intro-ul ul{margin-top: .23rem;}
.personal-introduce  .intro-ul ul li{
	width: 100%;
	padding: .12rem 3%;
	background: #eee;
	margin-bottom: .08rem;
}
.personal-introduce  .intro-ul .intro-img{
	display: inline-block;
	vertical-align: top;
	width: 32.64%;
	background: #fff;
	border-radius: 50%;
}
.personal-introduce  .intro-ul .intro-txt{
	display: inline-block;
	vertical-align: top;
	width: 65%;
}
.personal-introduce  .intro-ul .intro-txt h3{
	font-size: .15rem;
	line-height: .23rem;
}
.personal-introduce  .intro-ul .intro-txt span{
	margin-left: .3rem;
}
.personal-introduce  .intro-ul .intro-txt p{
	font-size: .12rem;
	color: #545454;
}
/*地址管理*/
.personal-address .addre-ul ul{margin-bottom: 30%;}
.personal-address .addre-ul ul li{
	background: #fff;
	padding: .13rem .1rem;
	margin-bottom: .06rem;
}
.personal-address .addre-ul .addre-up{
	text-align: left;
	margin-bottom: .08rem;
}
.addre-up h3{
	font-size: .15rem;
	margin-bottom: .07rem;
}
.addre-up p{
	font-size: .14rem;
	color: #6c6c6c;
}
.personal-address .addre-ul .addre-label{
	text-align: right;
}
.addre-label label{
	display: inline-block;	
}
.addre-label label span{
	font-size: .14rem;
	display: inline-block;
	vertical-align: middle;
	margin-left: .05rem;
}
.addre-label input[type=checkbox]{
	width: .18rem;
	height: .18rem;
	line-height: .18rem;
	border: .01rem solid #aaa;
	background: #fff;
	-webkit-appearance:none;
	outline: none;
	display: inline-block;
	vertical-align: middle;
}
.addre-label label input[type=checkbox]:checked{
   background: url(../images/per-checked.png) no-repeat center;
   background-size: contain;
}
.addre-label a{
	font-size: .14rem;
	color: #666;
	margin: 0 .22rem;
	display: inline-block;
	vertical-align: middle;
}
.addre-label p{
	font-size: .14rem;
	color: #666;
	display: inline-block;
	vertical-align: middle;
} 
.addre-a a{
	width: 78.15%;
	padding: 3.47% 0;
	color: #fff;
	font-size: .15rem;
	background: #f00;
	border-radius: .05rem;
}
/*添加新地址*/
.personal-addrenew .addnew-form{
	padding:0 3%;
	margin-top: .38rem;
	text-align: left;
	margin-bottom: .73rem;
}
.addnew-form ul li{
	margin-bottom: .2rem;
}
.addnew-form ul li span{
	width: 20%;
	height: .4rem;
	line-height: .4rem;
	font-size: .15rem;
	margin-right: 3%;
	text-align: right;
	display: inline-block;
	vertical-align: top;
}
.addnew-form label{
	display: block;
}
.addnew-form label input[type=text]{
	width: 70%;
	height: .4rem;
	line-height: .4rem;
	font-size: .14rem;
	font-family: "微软雅黑";
	border: .01rem solid #bfbfbf;
}
.addnew-form label select{
	width: 70%;
	height: .4rem;
	line-height: .4rem;
	border: .01rem solid #bfbfbf;
	/*很关键：将默认的select选择框样式清除*/
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;	
	/*在选择框的最右侧中间显示小箭头图片*/
	background: url(../images/per-hui.png) no-repeat scroll right center transparent;
	background-size: 6% 22%;
	background-position-x: 96%;
	/*为下拉小箭头留出一点位置，避免被文字覆盖*/
	padding: 0 .08rem;
}
/*清除默认选择框样式清除，隐藏下拉箭头*/
.addnew-form label select::-ms-expand { display: none; }
.addnew-form label textarea{
	width: 70%;
	height: .93rem;
	border: .01rem solid #bfbfbf;
	padding: .09rem .05rem;
	font-size: .14rem;
	font-family: "微软雅黑";
}
/*我的订单*/
.personal-order .order-more{
	
}
.order-more .hd{
	background: #fff;
	height: .45rem;
	line-height: .45rem;
	text-align: left;
	padding: 0 .05rem;
	margin-bottom: .06rem;
}
.order-more .hd ul li{
	width: 23.86%;
	display: inline-block;
	font-size: .15rem;
	text-align: center;
}
.order-more .hd ul li.on{
	color: #ffb54a;
	border-bottom: .01rem solid #ffb54a;
}
.order-more .order-div ul li{
	background: #fff;
	width: 100%;
	text-align: left;
	margin-bottom: .08rem;
}
.order-div .order-up{
	height: .38rem;
	line-height: .38rem;
	padding: 0 .08rem;
}
.order-up h3{
	display: inline-block;
	font-size: .15rem;
}
.order-up h3 i{
	width: .2rem;
	height: .18rem;
	line-height: .18rem;
	display: inline-block;
	margin-right: .05rem;
}
.order-up span{
	font-size: .14rem;
	color: #fe9900;
	float: right;
}
.order-div .order-middle{
	padding: .07rem .08rem .11rem;
	border-top: .01rem solid #dcdcdc;
	border-bottom: .01rem solid #dcdcdc;
}
.order-middle .order-img{
	width: .7rem;
	height: .7rem;
	display: inline-block;
	vertical-align: middle;
}
.order-middle .order-txt{
	display: inline-block;
	vertical-align: middle;
	width: 75.42%;
}
.order-middle .order-txt .order-t{
	display: inline-block;
    vertical-align: middle;
    width: 72.46%;
}
.order-middle .order-txt .order-p{
	display: inline-block;
    vertical-align: middle;
	text-align: right;
}
.order-middle .order-txt .order-t h3{
	font-size: .14rem;
}
.order-middle .order-txt .order-t p{
	font-size: .12rem;
	color: #676767;
	margin-top: .03rem;
	margin-left: .02rem;
}
.order-middle .order-txt .order-p p.order-p-a{
	font-size: .14rem;
	color: #e20000;
}
.order-middle .order-txt .order-p p.order-p-b{
	font-size: .14rem;
	color: #ababab;
	text-decoration: line-through;
}
.order-middle .order-txt .order-p p.order-p-c{
	font-size: .14rem;
	margin-top: .05rem;
}
.order-div .order-low{
	height: .47rem;
	line-height: .47rem;
	text-align: right;
	padding: 0 .08rem;
}
.order-low .order-btn:first-child{margin-right: .05rem;}
.order-low .order-btn{
	width: .95rem;
    line-height: .22rem;
    padding: 0.66% 0;
    background: #fff;
    border: .01rem solid #c9c9c9;
    color: #494949;
    font-size: .12rem;
    border-radius: .1rem;
    text-align: center;
}
.order-low .on{
	border: .01rem solid #ffb54a;
	color: #ffb54a;
}
/*我的订单-评价*/
.orderm-up{
	width: 100%;
	background: #fff;
	padding: .09rem .08rem;
	text-align: left;
	margin-bottom: .07rem;
}
.orderm-up .orderm-img{
	width: .5rem;
	height: .5rem;
	display: inline-block;
	vertical-align: middle;
	margin: 0 .14rem 0 .04rem;
}
.orderm-up .orderm-descr{
	display: inline-block;
	vertical-align: middle;
}
.orderm-up .orderm-descr p{
	display: inline-block;
	vertical-align: middle;
	margin-right: .05rem;
	font-size: .14rem;
}
.orderm-up .orderm-descr .orderm-star{
	display: inline-block;
	vertical-align: middle;
}
.orderm-up .orderm-descr .orderm-star ul li{
	display:inline-block;
	width: .17rem;
	height: .16rem;
}
.orderm-up .orderm-descr .orderm-star ul li img{vertical-align: top;}
.orderm-middle{
	width: 100%;	
}
.orderm-middle .orderm-arite{
	background: #fff;
	text-align: left;
	padding: .11rem .08rem;	
	margin-bottom: 18%;
}
.orderm-middle textarea{
	width: 100%;
	margin-bottom: .05rem;
	font-family: "微软雅黑";
	font-size: .14rem;
	border: .01rem solid transparent;
}
.orderm-middle .orderm-upload span{
	width: .97rem;
	height: .88rem;
	display: inline-block;
}
.person-pop-more{
	width: 100%;
	height: 100%;
	padding: 0 6%;
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}
.person-pop{
	width: 100%;
	background: #fff;
	margin-top: 68%;
	border-radius: 5px;
	padding: 4% 2%;
	text-align: left;
}
.person-pop label{
	width: 100%;
	display: block;
	border-bottom: 1px solid #eee;
}
.person-pop label:last-child{
	border: none;
	text-align: center;
}
.person-pop .pop-inp{
	width: 67%;
	display: inline-block;
	position: relative;
}
.pop-inp i{
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 1.5px;
}
.person-pop .pop-span{
	font-size: 14px;
	color: #fff;
	background: #f77e21;
	border-radius: 5px;
	padding: 1% 2%;
}
.pop-inp input[type=text]{
	border: none;
	width: 100%;
	padding-left: 18%;
}
.person-pop .pop-subm{
	background: #f72130;
	border: 1px solid #f72130;
	color: #fff;
	border-radius: 5px;
	font-size: 14px;
	line-height: 14px;
	padding: 1.8% 5%;
	margin-top: 7%;
}
