<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.cultural.mapper.role.CustomerMapper">
    
	<sql id="customerColumns">
		a.id AS "id",
		a.phonenum AS "phonenum",
		a.openid AS "openid",
		a.nickname AS "nickname",
		a.headimg AS "headimg",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag"
	</sql>
	
	<sql id="customerJoins">
		
	</sql>
	
    
	<select id="get" resultType="Customer" >
		SELECT 
			<include refid="customerColumns"/>
		FROM cultural_customer a
		<include refid="customerJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Customer" >
		SELECT 
			<include refid="customerColumns"/>
		FROM cultural_customer a
		<include refid="customerJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="phonenum != null and phonenum != ''">
				AND a.phonenum = #{phonenum}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Customer" >
		SELECT 
			<include refid="customerColumns"/>
		FROM cultural_customer a
		<include refid="customerJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO cultural_customer(
			id,
			phonenum,
			openid,
			nickname,
			headimg,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{phonenum},
			#{openid},
			#{nickname},
			#{headimg},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE cultural_customer SET 	
			phonenum = #{phonenum},
			openid = #{openid},
			nickname = #{nickname},
			headimg = #{headimg},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM cultural_customer
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE cultural_customer SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Customer" statementType="STATEMENT">
		select * FROM cultural_customer  where ${propertyName} = '${value}'
	</select>
	
</mapper>