/*首页*/
html{font-size: 100px;}
.index-body{background: #eee;position: relative;}
/*轮播图*/
.lunbo{
	position: relative;
}
.lunbo .hd{
	width: 100%;
	height: .15rem;
	position: absolute;
	bottom: 0;
}
.lunbo .hd ul li{
	width: .08rem;
	height: .08rem;
	display: inline-block;	
	border-radius: .5rem;
	background: transparent;
	border: .01rem solid #d20001;
	color: transparent;
}
.lunbo .hd ul li:nth-child(2){margin:0 .08rem;}
.lunbo .hd ul li.on{background: #d20001;}
.lunbo .bd{width: 100%;}
.middle{padding-bottom: 1.06rem;}
.mid-tit{
	width: 100%;
	height: .53rem;
	line-height: .53rem;
	background: #fff;
}
.mid-tit h1{
	display: inline-block;
	vertical-align: middle;
	font-size: .17rem;
	margin: 0 .12rem; 
}
.mid-tit span{
	display: inline-block;
	vertical-align: middle;
	width: .36rem;
	height: .02rem;
	background: #707070;
}
/*单位成品楹联*/
.index-unit{
	background: #fff;
	margin: .07rem 0;
	width: 100%;
}
.index-unit ul li{
	display: inline-block;
	width: 50%;
	height: .45rem;
	line-height: .45rem;
	font-size: .16rem;
}
.index-unit p{
	display: inline-block;
	padding: 0 12%;
}
.index-unit ul li.on p{
	border-bottom: .02rem solid #ffb54a;
}
.unit .hd,.calligraphy .hd{
	background: #fff;
	margin: .07rem 0;
	width: 100%;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.5);
}
.unit .hd ul li,.calligraphy .hd ul li{
	display: inline-block;
	width: 50%;
	height: .45rem;
	line-height: .45rem;
	font-size: .16rem;
}
.unit .hd ul li.on,.calligraphy .hd ul li.on{
	background: #ffb54a;
	color: #fff;
}
.unit .bd ul{padding: .02rem .08rem 0 .08rem;}
.unit .bd ul li{
	display: inline-block;
	background: #fff;
	width: 48.57%;
	margin-bottom: 5%;
}
.unit .bd ul li:nth-child(2n){margin-left: .04rem;}
.unit .bd ul li .unit-img{
	width: 100%;
}
.unit .bd ul li a.unit-i-a,.home .home-ul ul li a.home-i-a{
	display: block;
}
.unit .bd ul li a.unit-a,.home .home-ul ul li a.home-a{
	height:.36rem;
	font-size: .15rem;
	margin: .17rem 0 .13rem 0;
}
.unit .bd .unit-txt,.home .home-ul .home-txt,.year-pictures .year-ul .year-a{
	text-align: left;
	padding: 0 .04rem .06rem;
}
.unit .bd .unit-txt p,.home .home-ul .home-txt p{
	display: inline-block;
	font-size: .12rem;
	color: #404040;
	float: right;
}
.unit .bd .unit-txt span,.home .home-ul .home-txt span,.year-pictures .year-ul .year-a span{
	display: inline-block;
	font-size: .12rem;
	color: #d90f13;
	padding: 2% 0;
}
.middle .midd-more-a{
	text-align: right;
	padding: 0 3%;
}
.middle .midd-more-a a{
	color: #606060;
	font-size: .14rem;
}
/*家庭成品楹联*/
.home-tit{margin-top: .25rem;}
.home .home-ul{
	padding: .08rem .08rem 0 .08rem;
}
.home .home-ul ul li{
	display: inline-block;
	width: 48%;
	background: #fff;
	margin-bottom: 5%;
}
.home .home-ul ul li:nth-child(2n){margin-left: .07rem;}
.home .home-ul ul li .home-img{
	width: 100%;
}
/*年画作品*/
.year-tit{margin-top: .27rem;}
.year-pictures .year-ul{
	padding: .08rem .08rem 0 .08rem;
}
.year-pictures .year-ul ul li{
	display: inline-block;
	width: 48%;
	background: #fff;
	padding: .07rem 0;
	margin-bottom: .12rem;
}
.year-pictures .year-ul ul li:nth-child(2n){margin-left: .07rem;}
.year-pictures .year-ul .year-txt{
	padding: 0 .06rem;
}
.year-pictures .year-ul .year-a a{
	width: 45%;
	height: .25rem;
	line-height: .25rem;
	color: #fff;
	font-size: .12rem;
	background: #f00;
	display: inline-block;
	text-align: center;
	border-radius: .05rem;
	float: right;
}
.year-pictures .year-ul .year-img{
	width: 100%;
}
.year-pictures .year-ul p.year-p{
	margin: .13rem 0 .16rem 0;
	font-size: .15rem;
}
/*书画作品展示*/
.igra-ul ul{
	margin: 6% 2% 0 2%;
}
.igra-ul ul li{
	width: 100%;
	height: 1.54rem;
	position: relative;	
	margin-bottom: .25rem;
	/*background: url(../images/index-shbg.png) no-repeat;
	background-size:100%;*/
}
.igra-ul .igra-bg{
	width: 100%;
	height: 1.54rem;
}
.igra-ul .igra-div{
	width: 100%;
	padding: .14rem .19rem;
	position: absolute;
	top: 0;
}
.igra-ul .igra-div .igra-img{
	display: table-cell;
	width: 32%;
	height: 1.24rem;
	padding-left: 1%;
	padding-right: 10%;
}
.igra-ul .igras .igra-img{
	padding-right: 2%;
	padding-left: 9%;
	width: 29%;
}
.igra-ul .igras .igra-txt{
	padding-left:2%;
}
.igra-ul .igra-div .igra-txt{
	display: table-cell;
	vertical-align: middle;
	width: 64%;
	text-align: left;
}
.igra-ul .igra-div .igra-txt h3{
	font-size: .14rem;
}
.igra-ul .igra-div .igra-txt p{
	color: #3e3e3e;
	font-size: .11rem;
}
.igra-ul .igra-div .igra-txt .igra-a{
	margin-top: 6%;
}
.igra-ul .igra-div .igra-txt .igra-a span{
	color: #f00;
	font-size: .12rem;
}
.igra-ul .igra-div .igra-txt .igra-a a{
	color: #fff;
	background: #f00;
	font-size: .12rem;
	padding: 1.5% 4%;
	border-radius: .05rem;
	float: right;
}
/*室内装饰、工艺品*/
.interior .year-ul ul li{
	padding: 0;
}
.interior .year-ul .year-txt{
	padding: 0 .05rem .06rem .05rem;
}
/*底部  tab */
.foot{
	width: 100%;
	background: #fff;
	padding: .04rem 0;
	position: fixed;
	bottom: 0;
	box-shadow: 0 0 50px -9px rgba(0,0,0,0.5);
}
.foot a{
	width: 23.8%;
	font-size: .14rem;
	background: url(../images/index-b.png) no-repeat top;
	background-size: 32%;
	padding-top: 8.5%;
}
.foot a.on-a{
	background: url(../images/index-a.png) no-repeat top !important;
	background-size: 32% !important;
	color: #ffb54a;
}
.foot a.on-b{
	background: url(../images/cok-a.png) no-repeat top !important;
	background-size: 32% !important;
	color: #ffb54a;
}
.foot a.on-c{
	background: url(../images/ck-a.png) no-repeat top !important;
	background-size: 32% !important;
	color: #ffb54a;
}
.foot a.on-d{
	background: url(../images/people-a.png) no-repeat top !important;
	background-size: 32% !important;
	color: #ffb54a;
}
.foot a.foot-c{
	background: url(../images/ck-b.png) no-repeat top;
	background-size: 32%;
}
.foot a.foot-b{
	background: url(../images/cok-b.png) no-repeat top;
	background-size: 32%;
}
.foot a.foot-d{
	background: url(../images/people-b.png) no-repeat top;
	background-size: 32%;
}
