<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.cultural.mapper.platform.CustomerServMapper">
    
	<sql id="customerServColumns">
		a.id AS "id",
		a.qq AS "qq",
		a.wechat AS "wechat",
		a.tel AS "tel",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag"
	</sql>
	
	<sql id="customerServJoins">
		
	</sql>
	
    
	<select id="get" resultType="CustomerServ" >
		SELECT 
			<include refid="customerServColumns"/>
		FROM cultural_plat_customer_serv a
		<include refid="customerServJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="CustomerServ" >
		SELECT 
			<include refid="customerServColumns"/>
		FROM cultural_plat_customer_serv a
		<include refid="customerServJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="CustomerServ" >
		SELECT 
			<include refid="customerServColumns"/>
		FROM cultural_plat_customer_serv a
		<include refid="customerServJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO cultural_plat_customer_serv(
			id,
			qq,
			wechat,
			tel,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{qq},
			#{wechat},
			#{tel},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE cultural_plat_customer_serv SET 	
			qq = #{qq},
			wechat = #{wechat},
			tel = #{tel},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM cultural_plat_customer_serv
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE cultural_plat_customer_serv SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="CustomerServ" statementType="STATEMENT">
		select * FROM cultural_plat_customer_serv  where ${propertyName} = '${value}'
	</select>
	
</mapper>