<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.cultural.mapper.platform.LeaveMsgMapper">
    
	<sql id="leaveMsgColumns">
		a.id AS "id",
		a.customer_id AS "customer.id",
		a.content AS "content",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
				
		customer.nickname AS "customer.nickname"
	</sql>
	
	<sql id="leaveMsgJoins">
		
		LEFT JOIN cultural_customer customer ON customer.id = a.customer_id
	</sql>
	
    
	<select id="get" resultType="LeaveMsg" >
		SELECT 
			<include refid="leaveMsgColumns"/>
		FROM cultural_leave_msg a
		<include refid="leaveMsgJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="LeaveMsg" >
		SELECT 
			<include refid="leaveMsgColumns"/>
		FROM cultural_leave_msg a
		<include refid="leaveMsgJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="LeaveMsg" >
		SELECT 
			<include refid="leaveMsgColumns"/>
		FROM cultural_leave_msg a
		<include refid="leaveMsgJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO cultural_leave_msg(
			id,
			customer_id,
			content,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{customer.id},
			#{content},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE cultural_leave_msg SET 	
			customer_id = #{customer.id},
			content = #{content},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM cultural_leave_msg
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE cultural_leave_msg SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="LeaveMsg" statementType="STATEMENT">
		select * FROM cultural_leave_msg  where ${propertyName} = '${value}'
	</select>
	
</mapper>