<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.cultural.mapper.plat.PlatIntroMapper">
    
	<sql id="platIntroColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.intro AS "intro"
	</sql>
	
	<sql id="platIntroJoins">
		
	</sql>
	
    <resultMap type="PlatIntro" id="PlatIntroResult" autoMapping="true">
    	<result column="intro" property="intro"   typeHandler="com.jeeplus.core.mapper.ConvertBlobTypeHandler"/>
    </resultMap>
    
	<select id="get" resultMap="PlatIntroResult" >
		SELECT 
			<include refid="platIntroColumns"/>
		FROM cultural_plat_intro a
		<include refid="platIntroJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultMap="PlatIntroResult" >
		SELECT 
			<include refid="platIntroColumns"/>
		FROM cultural_plat_intro a
		<include refid="platIntroJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultMap="PlatIntroResult" >
		SELECT 
			<include refid="platIntroColumns"/>
		FROM cultural_plat_intro a
		<include refid="platIntroJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO cultural_plat_intro(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			intro
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{intro}
		)
	</insert>
	
	<update id="update">
		UPDATE cultural_plat_intro SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			intro = #{intro}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM cultural_plat_intro
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE cultural_plat_intro SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="PlatIntro" statementType="STATEMENT">
		select * FROM cultural_plat_intro  where ${propertyName} = '${value}'
	</select>
	
</mapper>